/*
*/

body {
  background-color: #191919;
}

canvas {
  width: 100%;
}

.stat-row * {
  display: inline;
}

.stat-row-info {
  float: right;
  position: relative;
  top: 10pt;
}

.refresh-btn {
  float: right;
}
